@model PhotoGallery.Models.User

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
@using (Html.BeginForm("Create", "Registrations"))
{
    <div class="form-group">
        
        @Html.LabelFor(m=>m.FirstName)
       
        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        @Html.HiddenFor(m=>m.RoleId, new { Value=2} )
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">SignUp</button>
    </div>
}
