@model PhotoGallery.ViewModels.EventFormViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h2 class="event-title">@Model.Event.Name.ToUpper()</h2>
</div>

<br />
<div class="row">
    <div class="event-gallery">
        @foreach (var img in Model.Images)
        {
            <div class="item pos-rel">
                <a href="/Events/Images/@img.Id/AddFrame" class="absolute-pencil">
                    <i class="glyphicon glyphicon-pencil" title="add Frame"></i>
                </a>                
                <img src="@img.Path" class="event-img img" style="width: 180px;" alt="@img.Name" />
                <div class="img-showcase">
                    <img src="@img.Path" class="big-img" style="width: 800px; height: 400px" alt="@img.Name" />
                </div>
            </div>
        }
    </div>
            
    <div class="event-description">
        <p>
            @Model.Event.Description
        </p>
    </div>        
</div>
@if (Convert.ToInt32(Session["user_id"]) != 0 && (Model.Event.UserId == Convert.ToInt32(Session["user_id"]) || Model.User.RoleId == 1)  )
{
    if (Model.User.RoleId == 1 || Model.User.Permission)
    {
        <div class="row event-btns-section">
            <div class="btns-section">
                @Html.ActionLink("Edit", "Edit", "Events", new { id = Model.Event.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
}


@*<button id="shareBtn">Share</button>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>*@
@Scripts.Render("~/Scripts/masonry.min.js")
@section Scripts {
    <script>
        //window.fbAsyncInit = function () {
        //    FB.init({
        //        appId: '915014835330710',
        //        autoLogAppEvents: true,
        //        xfbml: true,
        //        version: 'v2.10'
        //    });
        //    FB.AppEvents.logPageView();
        //};
        //(function (d, s, id) {
        //    var js, fjs = d.getElementsByTagName(s)[0];
        //    if (d.getElementById(id)) return;
        //    js = d.createElement(s); js.id = id;
        //    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1396861977224095";
        //    fjs.parentNode.insertBefore(js, fjs);
        //}(document, 'script', 'facebook-jssdk'));    
        //document.getElementById('shareBtn').onclick = function () {
        //    console.log(window.location.href);
        //  FB.ui({
        //    method: 'share',
        //    display: 'popup',
        //    href: window.location.href,
        //  }, function(response){ console.log(response);});
        //}

        var elem = document.querySelector('.grid');
        var msnry = new Masonry(elem, {
            // options
            itemSelector: '.grid-item',
            columnWidth: 200
        });

        $(".event-img").click(function () {
            clone = $(this).parent().find(".img-showcase > .big-img").clone();
            $(".overlay .inner-overlay").html(clone);
            $(".overlay").show();
        });
    </script>
}