@model PhotoGallery.ViewModels.EventFormViewModel
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2 class="pull-left">Events</h2>
    @if (Convert.ToInt32(Session["user_id"]) != 0)
    {
        @Html.ActionLink("New Event", "New", "Events", new { @class = "pull-right btn btn-primary" })
    }
</div>
<br />
<div class="row">
    <div class="grid">
        @for (var i = 0; i < Model.Events.Count(); i++)
        {
            if (i % 2 != 0)
            {
                <div class="grid-item grid-item--width2">
                    <a href="/Events/Detail/@Model.Events.ToList()[i].Id" class="img-anchor">
                        <img src="@Model.Events.ToList()[i].Images.FirstOrDefault().Path" class="img" />
                    </a>
                    <div>
                        <strong>@Model.Events.ToList()[i].Name</strong><br />
                        <small>@Model.Events.ToList()[i].location</small>
                        <p>@Model.Events.ToList()[i].Description</p>
                    </div>
                </div>
            }
            else
            {
                <div class="grid-item">
                    <a href="/Events/Detail/@Model.Events.ToList()[i].Id" class="img-anchor">
                        <img src="@Model.Events.ToList()[i].Images.FirstOrDefault().Path" class="img" />
                    </a>
                    <div>
                        <strong>@Model.Events.ToList()[i].Name</strong><br />
                        <small>@Model.Events.ToList()[i].location</small>
                        <p>@Model.Events.ToList()[i].Description</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
@Scripts.Render("~/Scripts/masonry.min.js")
<script>
    var elem = document.querySelector('.grid');
    var msnry = new Masonry(elem, {
        // options
        itemSelector: '.grid-item',
        columnWidth: 200
    });
</script>